.container{
    width: 1170px;
    height: 100%;
    margin: 0 auto;
}
.header{
    background: #000000;
    width: 100%;
    height: 100px;
    display: inline-block;
}
#h1{
    float: left;
    display: inline;
    float: left;
    width: 50px;
    height: 100px;
}

div#h1 {}
#h2{display: inline;float: left;width: 1070px;text-align: center;height: 100px;}

div#h2 {}
#h3{
    float: right;
 display: inline;
 float: left;
 width: 50px;  
}
.nav{
    width: 100%;
    height: 500px;
    padding-top: 30px;
    padding-bottom: 30px;
}
#n1{
    border-right: 1px solid #000000;
    float: left;
    padding-left: 30px;
}
li{
    padding-bottom: 10px;
}
#n2{
    float: right;
    padding-right: 60px;
}
h2{
    margin-top: -4px;
}
.content-left{
    width: 25%;
    height: 500px;
    margin: -4px;
    display: block;
    box-sizing: border-box;
}
.content-right{
    vertical-align: top;
    width: 75%;
    height: 500px;
    box-sizing: border-box;
    display: inline;
}
.footer{
    width: 100%;
    height: 150px;
    background: #000000;
}
#txt{
    text-align: left;
    color: white;
    padding-top: 25px;
    padding-left: 10px;
}
#img{
    float: right;
    padding-top: 10px;
    padding-right: 15px;
}
.footer-content{
    display: inline-block;
}
#img2{
    width: 100%;
}
.center{
    text-align: center;
}
.delete{
    display: none;
}