body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  color: #333;
  line-height: 1.6;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

/* Header */
.header {
  width: 100%;
  padding-top: 30px;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}
.header__logo {
  font-size: 30px;
  font-weight: 700;
  color: white;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Nav */
.nav {
  font-size: 14px;
  text-transform: uppercase;
}

.nav__link,
.nav__icon {
  display: inline-block;
  vertical-align: top;
  margin: 0 10px;
  position: relative;

  color: #fff;
  text-decoration: none;

  transition: color 0.1s linear;
}
.nav__link::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  display: none;

  background-color: #fce38a;

  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
}
.nav__link:hover,
.nav__icon:hover {
  color: #fce38a;
}

.nav__link:hover:after,
.nav__link.active:after {
  display: block;
}
.nav__link.active {
  color: #fce38a;
}

/* Container */
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

/* Intro */
.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background: url("../images/picture.png") center no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
}

.intro__title {
  text-align: center;

  font-size: 150px;
  color: white;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1;
}

.intro__title:after {
  content: "";
  display: block;
  width: 61px;
  height: 4px;
  background-color: #fff;
  margin: 60px auto;
  z-index: 1;
}

.intro__suptitle {
  font-family: "Kaushan Script", cursive;
  font-size: 72px;
  color: #ffffff;
  font-weight: 400;
  text-align: center;
}

.intro__inner {
  width: 100%;
  max-width: 880px;
  margin: 0 auto;
  text-align: center;
}

.btn {
  background-color: rgba(0, 0, 0, 0);
  border: 3px solid #ffffff;
  font-size: 14px;
  color: #ffffff;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  vertical-align: top;
  text-transform: uppercase;
  padding: 8px 30px;
  transition: 0.1s linear;
}

.btn:hover {
  background-color: #fff;
  color: #333;
}

/* Slider */
.slider {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.slider__inner {
  display: flex;
  justify-content: space-between;
}

.slider__item {
  width: 23%;
  color: #fff;
  border-top: 2px solid #fff;
  opacity: 0.7;
  text-align: left;
  text-transform: uppercase;
  padding: 20px 0;
  font-size: 18px;
  position: relative;
}

.slider__item.active {
  opacity: 1;
}

.slider__item.active::before {
  content: "";
  display: block;
  width: 70px;
  height: 3px;
  background-color: #f38181;
  position: absolute;
  top: -3px;
  left: 0;
  z-index: 0;
}
.slider__num {
  font-size: 24px;
  font-weight: 700;
}



/* Section */


.section{
  padding-top: 91px;
  padding-bottom: 110px;
}

.section__header{
  width: 100%;
  max-width: 965px;
  margin: 0 auto 40px;
}

.section__suptitle{
  text-align: center;
  font-family: "Kaushan Script", cursive;
  font-size: 24px;
}
.section__title{
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 700;
}
.section__title:after{
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #f38181;
  margin: 30px auto;
}
.section__text{
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #999;
  font-size: 15px;
  margin-bottom: 105px;
}



/* About */



.about{
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
}
/* Applying standard styles for divs */
.about__item{
  width: 380px;
  height: 250px;
  background-color: aqua;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.about__img {
  width: 380px;
  height: 250px;

  transition: transform .2s linear;
  background: linear-gradient(to bottom, #f38181, #fce38a);

  /* Making position of an img to absolute so position of the text is always at the center of the div */
  position: absolute;
}
.about__img img{
  transition: opacity 0.1s linear;
  
  /* Making position of an img to absolute so position of the text is always at the center of the div */
  position: absolute;
}

.about__icon, .about__text{
  width: 100%;
  color: #fff;
  text-align: center;
  z-index: 10;
  opacity: 0;
  transition: opacity .2s linear;
}

.about__text{
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
}

/* What will user see after hovering on items */

/* Transforming img */
.about__item:hover .about__img{
  transform: translate3d(-10px, -10px, 0);
}

/* Lowering opacity of an img so background-color will be visible */
.about__item:hover .about__img img{
  opacity: 0.2;
}

/* Changing opacity of an icon and text so that they will be visible */
.about__item:hover .about__text, .about__item:hover .about__icon{
  opacity: 1;
}

/* Statistic */

.statistic{
  background-color: #95e1d3;
}
.stat{
  display: flex;
}
.stat__item{
  flex: 1 2 0;
  /* border-left: 1px #b5eae0 solid; */
  text-align: center;
  color: #fff;
  padding: 70px 25px;
}
.stat__item:not(:first-child){
  border-left: 1px #b5eae0 solid;
}
.stat__num{
  font-size: 72px;
  font-weight: bold;
}
.stat__text{
  font-size: 14px;
  text-transform: uppercase;
}


/* Service */

.section__services{
  display: flex;
  flex-wrap: wrap;
}
.section__service{
  width: 400px;
  padding-bottom: 50px;
  padding-left: 70px;
  position: relative;
  height: 8%;
}

.section__service {}
.section__service:nth-child(-n+3){
  border-bottom: 1px solid #e5e5e5;
}
.section__service:nth-child(n+4){
  margin-top: 45px;
}
.service__img:nth-child(-n+3){
  position: absolute;
  top: 20px;
  left: 0;
  z-index: 1;
}
.service__img:nth-child(n+4){
  position: absolute;
  left: 0;
  z-index: 1;
  top: 65px;
}
.service__caption{
  text-transform: uppercase;
  font-size: 14px;
}
.service__text{
}